DEPLOYMENT_URL=https://cookiecrack3r.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dso-blog/
GITHUB_ORG=CookieCrack3r
GITHUB_PROJECT=my-dso-blog
GIT_REPOSITORY_URL=https://github.com/CookieCrack3r/my-dso-blog
